{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

<h1 class="section-title text-center">
Project Team
</h1>

<div class="row g-4">

<div class="col-md-4">
<div class="card-custom text-center">

<h3>CHINTHAPARTHI VANAJA</h3>

<p>Team Leader</p>

<p>SkillWallet ID: SWUID2026202797</p>

</div>
</div>

<div class="col-md-4">
<div class="card-custom text-center">

<h3>TUPAKULA SRAVANTHI</h3>

<p>TEAM MEMBER</p>

<p>SkillWallet ID: SWUID2026202814</p>

</div>
</div>

<div class="col-md-4">
<div class="card-custom text-center">

<h3>KOKKANTI HARITHA</h3>

<p>TEAM MEMBER</p>

<p>SkillWallet ID: SWUID2026202801</p>

</div>
</div>

</div>

</div>

{% endblock %}